/* Currency Converter Styling to Match Portfolio */
.currency-converter {
  max-width: 400px;
  margin: auto;
  background: #ffffff;
  /* Match the background color of the navbar and footer */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* Match the box-shadow of the navbar and footer */
  color: #292929;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #292929;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.swap-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swap-button {
  background: #4277eb;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.swap-button:hover {
  cursor: pointer;
}

.swap-icon {
  color: #ffffff;
  font-size: 1.2rem;
}

.label {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
}

.input {
  width: 95%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  font-size: 0.9rem;
}

.convert-button {
  background: #4277eb;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
}

.convert-button:hover {
  /* background: #00cca3; */
  cursor: pointer;
}

.convert-button.loading {
  opacity: 0.5;
  cursor: not-allowed;
}

.converted-amount {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #292929;
}

/* --- Tablet View --- */
@media screen and (max-width: 768px) {
  .currency-converter {
    padding: 15px;
  }

  h2 {
    font-size: 1.3rem;
  }

  .grid-container {
    flex-direction: column;
    gap: 20px;
  }

  .input {
    width: 100%;
  }
}

/* --- Mobile View --- */
@media screen and (max-width: 480px) {
  .currency-converter {
    padding: 10px;
  }

  h2 {
    font-size: 1.1rem;
  }

  .input {
    width: 100%;
  }

  .convert-button {
    padding: 10px;
    font-size: 0.9rem;
  }

  .converted-amount {
    font-size: 1rem;
  }
}